<!doctype html>

<html>
  <head>
    <title><%= _.slugify(elementName) %></title>
    <link rel="import" href="node_modules/polymer/polymer.html">
    <link rel="import" href="src/<%= _.slugify(elementName) %>.html">
    <style>
      body {
        font-family: "Helvetica Neue", "Helvetica", Arial;
      }
    </style>
  </head>
  <body unresolved>
    <<%= _.slugify(elementName) %>>
    </<%= _.slugify(elementName) %>>
    <script>
      document.addEventListener('polymer-ready', function() {
        //poke your element here
      })
    </script>
  </body>
</html>
