<!doctype html>

<html>
  <head>
    <title><%= _.slugify(elementName) %></title>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="node_modules/polymer/platform.js"></script>
    <link rel="import" href="node_modules/polymer/polymer.html">
    <link rel="import" href="build/<%= _.slugify(elementName) %>.html">
    <style>
      body {
        font-family: "Helvetica Neue", "Helvetica", Arial;
      }
    </style>
  </head>
  <body unresolved>
    <div id="holder">
      <<%= _.slugify(elementName) %>>
      </<%= _.slugify(elementName) %>>
    </div>
    <script>
      document.addEventListener('polymer-ready', function() {
        //poke your element here
      })
    </script>
  </body>
</html>
